*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}

li ,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}

li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
    width: 60%;
    padding: 15px;
}

.searchbar{
    text-align: center;
    padding: 50px;
}

.box{
    display: inline-block;
    border: solid black 2px;
    width: 220px;

}
img{
    width: 150px;
}

.products{
    text-align: center;
}

.box:hover{
    background-color: black;
    color: white;
}

.about{
    text-align: center;
    padding: 20px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}